<h1>Add Products</h1>
<form action="" method="post">

    <input type="text" name="name" placeholder="Name" style="width: 150px;">
    <input type="text" name="price" placeholder="Price" style="width: 150px;">
    <input type="text" name="category" placeholder="Categories ID" style="width: 150px;">
    <input type="text" name="descripton" placeholder="Description" style="width: 150px;">
    <select name="active" id="active" style="width: 150px;">
        <option value="Y">Active</option>
        <option value="N">No Active</option>
    </select>
    <input type="submit" style="margin-bottom: 10px; width: 50px; margin-left: 10px;">


</form>
<h1>Edit Products</h1>
<form action="" method="get">

    <input type="search" placeholder="ID Product Edit" style="width: 150px;">
    <input type="submit" style="margin-bottom: 10px; width: 50px; margin-left: 10px;" onclick="checkEdit()">

</form>
<h1>Delete Products</h1>
<form action="" method="get">

    <input type="search" placeholder="ID Product Delete" style="width: 150px;">
    <input type="submit" style="margin-bottom: 10px; width: 50px; margin-left: 10px;" onclick="checkDelete()">

</form>
<script>
    function checkEdit() {
        
    }
    function checkDelete() {
        
    }
</script>