<div class="row">
    <div class="span6">
        <h3 style="border-bottom: 2px solid greenyellow ;">THÔNG TIN ĐƠN HÀNG</h3>
        <table class="table table-striped">
            <tbody id="showitem">

            </tbody>
        </table>
    </div>
    <div class="span6" id="thongtin">
        <h3 style="border-bottom: 2px solid greenyellow ;">THÔNG TIN ĐẶT HÀNG</h3>
        <form action="/checkout" method="post" onsubmit="return validate()">
            <p>Name</p>
            <input type="text" name="name" id="nameip">
            <span id="nameErr"></span>
            <p>Phone</p>
            <input type="tel" name="phone" id="phone">
            <span id="phoneErr"></span>
            <p>Address</p>
            <input type="text" name="address" maxlength="100" id="address">
            <span id="addressErr"></span>
            <input type="hidden" name="total_price" id="total">
            <input type="hidden" name="products" id="products">
            <br>
            <button type="submit">Chốt đơn</button>
        </form>

    </div>
</div>
<script>
    let cttt = localStorage.getItem('key2');
    let carts = JSON.parse(cttt);
    let index1;
    let total = 0;
    if (carts.length == 0) {  
        $('#showitem').html('<h1>BAN CHUA CHON SAN PHAM</h1>');
        $('#thongtin').html('')
    }else{
        loadcarts();
    }
    function loadcarts() {
        let a;
        carts.forEach((ct, id) => {
            a += `
        <tr>
                            <td style="width: 100px"><a href="product_detail.html"><img id="img" alt="" src="${ct.img}"></a></td>
                            <td id="name">${ct.name}</td>
                            <td>${ct.quantity}</td>
                            <td id="price">${ct.price}</td>
                            <td id="total${id}">${(ct.price * ct.quantity).toFixed(2)}</td>
            </tr>
        `
            index1 = id;
            total = total + (ct.price * ct.quantity);
        });
        a += `<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td><strong >TOTAL: ${total.toFixed(2)}$</strong></td>
								</tr>	`
        $('#showitem').html(a);
    }
    $('#total').val(total);
    $('#products').val(cttt);

    function validate() {

        let err = [];
        if ($('#nameip').val() == '') {
            $('#nameip').css('border', '1px solid red');
            $('#nameErr').text('Name không được rỗng!');
            err.push('#nameip');
        } else {
            $('#nameErr').text('');
        }


        if ($('#phone').val() == '') {
            $('#phone').css('border', '1px solid red');
            $('#phoneErr').text('Phone không được rỗng!');
            err.push('#phone');
        } else {
            $('#phoneErr').text('');
        }


        if ($('#address').val() == '') {
            $('#address').css('border', '1px solid red');
            $('#addressErr').text('Address không được rỗng!');
            err.push('#address');
        } else {
            $('#addressErr').text('');
        }

        return err.length == 0 ? true : false;
    }
</script>