<div class="row">
    <div class="span6">
        <h3 style="border-bottom: 2px solid greenyellow ;">THÔNG TIN ĐƠN HÀNG</h3>
        <table class="table table-striped">
            <tbody id="showitem">

            </tbody>
        </table>
    </div>
    <div class="span6">
        <h3 style="border-bottom: 2px solid greenyellow ;">THÔNG TIN ĐẶT HÀNG</h3>
        <form action="/checkout" method="post">
            <p>Name</p>
            <input type="text" name="name"  required  maxlength="100" id="name" pattern="[a-zA-Z]{3,}">
            <p>Phone</p>
            <input type="tel" name="phone" required id="phone" pattern="^[0]\d{9,10}$">
            <p>Address</p>
            <input type="text" name="address" required  maxlength="100" id="address" pattern="[a-zA-Z]{3,}">
            <input type="hidden" name="total_price" id="total">
            <input type="hidden" name="products" id="products">
            <br>
            <button type="submit">Chốt đơn</button>
        </form>

    </div>
</div>
<script>
    let cttt = localStorage.getItem('key2');
    let carts = JSON.parse(cttt);
    let index1;
    let total = 0;
    loadcarts();
    function loadcarts() {
        let a;
        carts.forEach((ct, id) => {
            a += `
        <tr>
                            <td style="width: 100px"><a href="product_detail.html"><img id="img" alt="" src="${ct.img}"></a></td>
                            <td id="name">${ct.name}</td>
                            <td>${ct.quantity}</td>
                            <td id="price">${ct.price}</td>
                            <td id="total${id}">${(ct.price * ct.quantity).toFixed(2)}</td>
            </tr>
        `
            index1 = id;
            total = total + (ct.price * ct.quantity);
        });
        a += `<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td><strong >TOTAL: ${total.toFixed(2)}$</strong></td>
								</tr>	`
        $('#showitem').html(a);
    }
    $('#total').val(total);
    $('#products').val(cttt);
</script>