




<%  if(data && data.banners){ %>
    <section  class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <%  data.banners.forEach(bn => {%>
                    <li>
                        <img src="<%= baseUrl + bn.url %>" alt="" />
                    </li>
                <% }); %>
            </ul>
        </div>			
    </section>
<% } %>
