<section class="navbar main-menu">
    <div class="navbar-inner main-menu">
        <a href="http://localhost:3000/" class="logo pull-left"><img src="<%= baseUrl  %>lib/themes/images/logo.png" class="site_logo" alt=""></a>
        <nav id="menu" class="pull-right">
                <ul>
                    
                        <% data.categories.forEach(ct=> {%>
                            <li><a href="/products/category/<%= ct.id %>">
                                    <%= ct.name %>
                                </a>
                            </li>
                            <% }); %>
                   
                            <li><a href="./products/category/bestsale">Best Seller</a></li>
                            <li><a href="./products/category/topsale">Top Seller</a></li>
                </ul>
        </nav>
    </div>
</section>