<form action="/admin/product/category" method="post">
    <input type="text" name="name">
    <select name="active" id="">
        <option value="Y">Active</option>
        <option value="N">UnActive</option>
    </select>
    <input type="submit">
</form>